<!--The content below is only a placeholder and can be replaced.-->
<div id="GenPDF" class="gen">

<div class="header">
  <section class="top">
    <span><img src="../assets/logo.gif" width="375" height="98"></span>
    <span>Edition : 11 | May 2018</span>
  </section>
  <section class="bottom">
    <div>UI / UX</div>
    <div>Newsletter</div>
  </section>
</div>

<div class="content_top">
  
<section class="left"> We introduced themes in kiosk app for
customized deployment in each retail
location. Application can be customized to
easily apply a brand-specific theme
according to what retailer the machine(s)
will be placed in. </section>

<section class="right"> We introduced themes in kiosk app for
customized deployment in each retail
location. Application can be customized to
easily apply a brand-specific theme
according to what retailer the machine(s)
will be placed in. </section>


</div>

</div>

<button (click)="generatePdf()"> Generate PDF</button>

